.login {
    inline-size: 100%;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
    //background-repeat: no-repeat;
  //  background-position-x: center;
    background-size: cover;
    background-attachment: fixed;

    &__wrapper {
        //inline-size: 63.5625rem;
        inline-size: min(100%, 63.5625rem);
        block-size: 49.312rem;
        background: #FFF;
        overflow: hidden;
        border-radius: 1.5rem;
        border: 1px solid rgba(102, 102, 102, 0.50);
        background-color: #FFF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    }

    &__img {
        max-inline-size: 21.1875rem;
        inline-size: 100%;
        block-size: 49.3125rem;
        border: 1px solid blue;
    }

    &__title {
        color: #333;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-block-start: 1.81rem;
    }

    &__google {
    display: flex;    
    inline-size: 35.5rem;
    inline-size: min(100%, 35.5rem);
    block-size: 4rem;
    padding: 1.21875rem 0 1.28125rem 0;
    justify-content: center;
    gap: 15px;
    align-items: center;
    border-radius: 2.5rem;
    border: 1px solid #333;
    background: #FFF;
    margin-inline: auto;
    margin-block-start: 20px;
    cursor: pointer;

        h3 {
            color: #333;
            font-size: 1.375rem;
            font-weight: 500;
        }    
    }

    &__OR {
        margin-block-start: 1.25rem;
        text-align: center;
        color: #666;
        font-size: 1.375rem;
        font-weight: 500;
        position: relative;

        &::before {
            content: "";
            inline-size: 18.375rem;
            block-size: 0.125rem;
            background-color: rgba(102, 102, 102, 0.25);
            position: absolute;
            inset-inline-start: 180px;
            inset-block-end: 13px;
        }

        &::after {
            content: "";
            inline-size: 18.375rem;
            block-size: 0.125rem;
            background-color: rgba(102, 102, 102, 0.25);
            position: absolute;
            inset-inline-end: 180px;
            inset-block-end: 13px;
        }
    }

    &__input-wrapper {
        inline-size: min(100%, 35.5rem);
        margin-inline: auto;
        margin-block-start: 1.25rem;
        position: relative;

        &> span {
            color: #666;
            font-size: 1rem;
            font-weight: 400;
            display: block;
            margin-block-end: 0.44rem;
        }

        &> input {
            inline-size: 100%;
            block-size: 3.5rem;
            border-radius: 0.75rem;
            border: 1px solid rgba(102, 102, 102, 0.35);
            padding-inline-start: 10px;
        }
    }

    &__error {
        color: red;
        position: absolute
    }

    &__button {
        display: flex;
        inline-size: 19rem;
        block-size: 4rem;
        padding: 1.03125rem 0rem 1.09375rem 0rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        opacity: 0.25;
        background-color: rgba(17, 17, 17, 0.85);
        margin-inline: auto;
        margin-block-start: 3.13rem;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 0;

        &:hover {
            //background-color: rgba(17, 17, 17, 1);
            inline-size: 19.5rem;
          //  block-size: 4.1rem;
        }
    }

    &__not-account {
        display: block;
        color: #333;
        font-size: 1rem;
        font-weight: 400;
        margin-block-start: 0.62rem;
        text-align: center;
        
        a{
            color: #111;
            text-decoration-line: underline;
            cursor: pointer;
            transition: font-weight 0.2s ease-in-out;

            &:hover{
                font-weight: bold;
            }

        }
    }
}


.register {

    &__wrapper{
        @extend .login__wrapper;
    }

    &__content-wrapper{
        display: flex;
        gap: 2.5rem;
        align-items: center;
        inline-size: 100%;
        block-size: calc(100% - 200px);
       // background-color: yellow;
        padding: 3.5rem 4.34rem
    }

    &__title{
        display: grid;
        align-content: space-between;
        inline-size: min(100%, 19rem);
        block-size: 8.87rem;
    }

    &__user {
        inline-size: 3.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }

    &__avatar-img {
        inline-size: 5rem;
    }

    &__create-account {
        color: #333;
        font-size: 2rem;
        font-weight: 500;
    }

    &__login {
        color: #333;
        font-size: 1rem;
        font-weight: 400;

        a {
            color: #111;
            text-decoration-line: underline;
            cursor: pointer;
            transition: font-weight 0.2s ease-in-out;

            &:hover{
                font-weight: bold;
            }
        }
    }


    &__inputs {
        inline-size: min(100%, 33.06rem);
    }

    &__input-wrapper{
       @extend .login__input-wrapper;          
    }

    &__error {
       @extend .login__error 
    }

    &__avatar-wrapper {
        margin-block-start: 1.25rem;

        >span {
            display: block;
            margin-block-end: 0.44rem;
            color: #666;
            font-size: 1rem;
            font-weight: 400;
        }

        >label {
            display: grid;
            place-items: center;
            background-color: green;
            inline-size: 150px;
            block-size: 30px;
            border-radius: 1.21875rem;
            padding: 0.40769rem 0.86963rem 0.37644rem 0.875rem;
            cursor: pointer;
            transition: background 0.4s ease-in-out;

            &:hover {
                background: darken(#2DA562, 15%);
            }

            >span {
                color: #FFF;
                font-size: 0.75rem;
                font-weight: 500;
            }


            >input {
                color: #666;
                font-size: 0.8rem;
                border-radius: 2rem;
                display: none;
            }
        }

    }

    &__button{
        @extend .login__button;
        display: block;
        margin-inline-start: auto;
    }

    &__avatar {
        color: #FFF;
        font-size: 0.75rem;
        font-weight: 500;
        margin-block-start: 5px;
    }

    &__file {
        font-size: 0.75rem !important;
        margin-block-start: 5px;
    }

}